<p id="notice"><%= notice %></p>

<p>
  <strong>Persons:</strong>
  <%= @reservation.persons %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
