<div class="margin-container">
  <div class="container">
    <div class="container-small-left">
      <div class="well">                
        <h2 style="text-align: center">Editing Offer</h2>
                
        <%= render 'form' %>
                
        <%= link_to 'Back', :back, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
