<div class="margin-container">
  <div class="container">
    <div class="container-small-left">
      <div class="well"> 
        <h2 style="text-align: center">Add a place</h2>
        
        <%= render 'form' %>
        
        <%= link_to 'Back', places_path, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
